ThreadTestApp/packages/OpenCVSharp.2.4.0.1/content/OpenCvSharp.Blob.dll.config
NetworkNodeControl/NetworkNodeControl.v11.suo
ThreadTestApp/ThreadTestApp.v11.suo
NetworkNodeControl/NetworkNodeControl/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
